<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add a Book</h1>

<form action = "/authorbooks/@Model.GetId()" method = "post">
  <input name = "bookName"></input>
  <button>Submit Book</button>
</form>


  </body>
</html>
